.form button {
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  border: none;
}
.input {
  width: 202px;
  height: 25px;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  margin-right: 8px;
  border: 1px solid #808080;
}
